body {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}

.row, .col-md-3, .col-md-9 {
    margin: 0px;
    padding: 0px;
}

nav {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    text-align: justify;

    input[type="text"] {
        padding: 10px 20px;
        border: none;
        font-size: 16px;
        color: #333;
        outline: none;
        background-color: #f2f2f2;
        width: 600px;
        border-radius: 10px;
        display: inline-block;
        transition: all .2s linear;
        box-shadow: 0px 0px 5px #fff;

        &:focus {
            background-color: #fff;
            box-shadow: 0px 0px 5px #333;
        }
    }
}

.menu {
    .item {
        font-size: 20px;
        padding: 15px 35px;
        border-radius: 0px 25px 25px 0px;
        cursor: pointer;
        color: #888;
        user-select: none;

        &:hover {
            color: #000;
        }

        &.active {
            background-color: #fff2ab;
            color: #000;

            &:hover {
                background-color: darken(#fff2ab, 5);
            }
        }

        i {
            margin-right: 25px;
        }
    }
}

.info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 85px);

    i {
        font-size: 60px;
        color: #888;
        background-color: #eee;
        padding: 15px;
        display: inline-block;
        border-radius: 100%;
    }

    p {
        font-size: 22px;
        color: #777;
        margin-top: 25px;
    }
}

.notes {
  padding: 10px;
  min-height: calc(100vh - 65px);
}

.note {
  width: 300px;
  height: 300px;
  background-color: #fff2ab;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  transition: all .1s linear;

  input[type="text"] {
    font-size: 16px;
    margin: 0px;
    padding: 10px;
    background-color: #ffeb81;
    width: 100%;
    outline: none;
    border: none;
  }

  textarea {
    font-size: 16px;
    padding: 10px;
    background-color: inherit;
    width: 100%;
    height: 250px !important;
    resize: none;
    border: none;
    outline: none;
  }

  &:hover {
    box-shadow: 0px 0px 5px #ddae1f;
  }
}

footer {
    padding: 20px;

    a {
        color: #ddae1f;

        &:hover {
            color: #53410a;
            text-decoration: none;
        }
    }
}

.alert {
  color: #666;
  font-size: 20px;
  opacity: 0;
  transition: all .3s linear;

  &.active {
    opacity: 1;
  }
}