body {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}

.row, .col-md-3, .col-md-9 {
    margin: 0px;
    padding: 0px;
}

nav {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    // box-shadow: 0px 0px 5px #888;
    text-align: justify;

    input[type="text"] {
        padding: 10px 20px;
        border: none;
        font-size: 16px;
        color: #333;
        outline: none;
        background-color: #f2f2f2;
        width: 600px;
        border-radius: 10px;
        display: inline-block;
        transition: all .2s linear;
        box-shadow: 0px 0px 5px #fff;

        &:focus {
            background-color: #fff;
            box-shadow: 0px 0px 5px #333;
        }
    }
}

main {
    min-height: calc(100vh - 65px);
    // padding: 75px 0px;
}

.menu {
    .item {
        font-size: 20px;
        padding: 15px 35px;
        border-radius: 0px 25px 25px 0px;
        cursor: pointer;
        color: #888;

        &:hover {
            color: #000;
        }

        &.active {
            background-color: #FEEFC3;
            color: #000;

            &:hover {
                background-color: darken(#FEEFC3, 5);
            }
        }

        i {
            margin-right: 25px;
        }
    }
}

.info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 60px;
        color: #666;
        background-color: #eee;
        padding: 15px;
        display: inline-block;
        border-radius: 100%;
    }

    p {
        font-size: 18px;
        color: #666;
        margin-top: 15px;
    }
}

footer {
    padding: 20px;

    a {
        color: #ddae1f;

        &:hover {
            color: #53410a;
            text-decoration: none;
        }
    }
}